         table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        
        td, th {
          border: 1px solid #000000;
          text-align: left;
          padding: 8px;
        }
        body {
            background-color: rgb(170, 255, 167);
        }
        h1 {color: maroon;}

        p {color: navy;}

        tr:nth-child(even) {
          background-color: #c4cfcf;
        }
        img {
          width: 400px;
          height: 500px;
          object-fit: scale-down;
        }